@import "variables";

/**************************/
/*****      BASES     *****/
/**************************/

body {
    margin: 0;
    background: $background;
}

#bg-bricks {
    background: url("../../public/img/bricks.png"), $background;
    background-size: 100%;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    z-index: -2;
    transition: right 0.5s ease-in-out;

    .bg-gradient {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: -1;
        background: radial-gradient(rgba(5, 1, 11, 0.4) 0%, rgba(5, 1, 11, 1) 65%);
        background-position: 30% top;
    }
}

p,
a,
span,
input,
button,
li,
h2,
h3,
h4,
h5 {
    color: white;
    font-family: $content-font;
    font-size: 1.2rem;
}

h2 {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.neon-text-effect-magenta {
    color: white;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: $magenta;
    text-shadow: 0 .4rem 3px rgba(0, 0, 0, .5), 0 0 10px $magenta, 0 0 20px $magenta, 0 0 30px $magenta, 0 0 40px $magenta, 0 0 70px $magenta, 0 0 80px $magenta, 0 0 100px $magenta, 0 0 150px $magenta;

}

.neon-text-effect-cyan {
    color: white;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: $cyan;
    text-shadow: 0 .4rem 3px rgba(0, 0, 0, .5), 0 0 10px $cyan, 0 0 20px $cyan, 0 0 30px $cyan, 0 0 40px $cyan;
}

.neon-effect-cyan {
    background: none;
    border: 7px solid cyan;
    outline: 3px solid white;
    outline-offset: -5px;
    box-shadow: 0 .3rem 2px rgba(0, 0, 0, .5), 0 0 10px $cyan, 0 0 10px $cyan, 0 0 10px $cyan, inset 0 0 10px $cyan, inset 0 0 10px $cyan, inset 0 0 10px $cyan;
}

.neon-effect-magenta {
    background: none;
    border: 7px solid $magenta;
    outline: 3px solid white;
    outline-offset: -5px;
    box-shadow: 0 .3rem 2px rgba(0, 0, 0, .5), 0 0 10px $magenta, 0 0 10px $magenta, 0 0 10px $magenta, inset 0 0 10px $magenta, inset 0 0 10px $magenta, inset 0 0 10px $magenta;
}

.rounded {
    border-radius: 40px;
}

.btn
{
    padding : 10px 20px;
    border-radius: 40px;
    outline: 2px solid white;
    outline-offset: -3px;
    transition: all .3s ease-in-out;
}
.btn-cyan
{
    border: 4px solid cyan;
    box-shadow: 0 .3rem 2px rgba(0, 0, 0, .5), 0 0 10px $cyan, 0 0 10px $cyan, 0 0 10px $cyan, inset 0 0 10px $cyan, inset 0 0 10px $cyan, inset 0 0 10px $cyan;
    &:hover{
        cursor: pointer;
        background-color: $cyan;
        color: $cyan-off;
    }
}
.btn-magenta
{
    border: 4px solid $magenta;
    box-shadow: 0 .3rem 2px rgba(0, 0, 0, .5), 0 0 10px $magenta, 0 0 10px $magenta, 0 0 10px $magenta, inset 0 0 10px $magenta, inset 0 0 10px $magenta, inset 0 0 10px $magenta;
    &:hover{
        cursor: pointer;
        background-color: $magenta;
        color: $magenta-off;
    }
}

header {
    display: flex;
    justify-content: center;
    align-items: center;

    .header-container {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .title-container {
        position: relative;
        display: inline-block;

        #main-title {
            font-family: $neon-font;
            font-size: 7.8rem;
            text-align: center;
        }

        #subtitle {
            font-family: $secondary-neon-font;
            font-size: 1.7rem;
            position: absolute;
            right: 15px;
            bottom: 0;
        }
    }
}

.container,
.small-container {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
}

/**************************/
/*****      NAV       *****/
/**************************/

.navbar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: $background;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s ease-in-out;

    a {
        padding: 8px 25px;
        text-decoration: none;
        font-size: 1.5rem;
        display: block;
        transition: all .3s ease-in-out;

        &:hover {
            cursor: pointer;
            -webkit-text-stroke: 1px;
            -webkit-text-stroke-color: $magenta;
            text-shadow: 0 .4rem 3px rgba(0, 0, 0, .5), 0 0 10px $magenta, 0 0 20px $magenta, 0 0 30px $magenta, 0 0 40px $magenta, 0 0 70px $magenta, 0 0 80px $magenta, 0 0 100px $magenta, 0 0 150px $magenta;
        }
        &.closeNavBtn
        {
            font-size: 2.5rem;
        }
    }
}

#openNavBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    transition: opacity .5s ease-in-out;

    &:hover {
        cursor: pointer;
    }
}
.icon-burger {
    div {
        width: 30px;
        height: 4px;
        background-color: $magenta-off;
        margin-bottom: 5px;
        border-radius: 5px;
        transition: all .2s ease-in-out;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &:hover div {
        background: white;
        border: 1px solid $magenta;
        box-shadow: 0 .3rem 2px rgba(0, 0, 0, .5), 0 0 10px $magenta, 0 0 10px $magenta, 0 0 10px $magenta;
    }
}

/**************************/
/*****      HOME      *****/
/**************************/

.vue-container {
    margin-top: 20px;
    margin-bottom: 50px;

    .instructions {
        text-align: center;
        margin-bottom: 15px;
    }
}

/**************************/
/*****    SUCCESS     *****/
/**************************/
.success-container {
    .nb-tries
    {
        margin-top: 15px;
    }
    margin-bottom: 50px;

    &.container {
        max-width: 380px;
    }

    .music-container {
        padding: 20px;

        .music-title {
            text-align: center;
            font-size: 2.5rem;
            margin-bottom: 10px;
        }

        .music-artist {
            text-align: center;
            font-size: 1.5rem;
        }
    }

    .spotify-container {
        border-radius: 17px;

        .BackgroundColorContainer_backgroundColorContainer__YZSQ7 {
            background-color: $background;
        }
    }
    .button-container
    {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 0;
    }
}

/**************************/
/***** MEDIA QUERIES  *****/
/**************************/
@media (min-width: 576px) {

    .container,
    .small-container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }

    .small-container {
        max-width: 500px;
    }
}


/**************************/
/***** SONG REQUESTED *****/
/**************************/

.requested-song-form-container {
    width: 100%;
    text-align: center;
    padding: 2.5vw;
}

.requested-song-form-container label {
    display: block;
    font-weight: bold;
    margin-bottom: 2vh;
    text-align: left;
}

.requested-song-form-container input {
    width: 100%;
    padding: 1vw;
    margin-bottom: 4vh;
    font-size: 1vw;
    display: inline-block;
    border-radius: 2vw;
    color: black;
}

.requested-song-form-container button[type="submit"] {
    float: right;
    padding: 1vw;
    font-size: 1vw;
    border-radius: 2vw;
    background-color: #f4a2f1;
    color: #fff;
    border: none;
}
