$magenta: #FA00FF;
$magenta-off: #550B5E;
$cyan: #00D1FF;
$cyan-off: #125e87;
$background: #05010B;


$neon-font: 'Neonderthaw', cursive;
$secondary-neon-font: 'Satisfy', cursive;
$content-font: 'Concert One', sans-serif;
